<nav class="navbar navbar-expand-lg navbar-nav-ml-auto navbar-light bg-light">
  <div class="container-fluid">
    <!-- web tiitle: Brand Name -->
    <div class="navbar-header">

      <button type="button" class="navbar-toggle" (click)=  "collapsed = !collapsed">
          <span class="icon-bar" *ngFor= "let iconBar of [1, 2, 3]"></span>
      </button>
      <a href="#" class="navbar-brand">Recipe Book</a>

    </div>

    <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)= "collapsed=true">
      <ul class="navbar navbar-nav">
        <li ><a href="#" class="nav-link" (click)= "onSelect('recipe')">Recipe</a></li>
        <li ><a href="#" class="nav-link" (click)= "onSelect('shopping-list')">Shopping List</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-end">
        <li class="dropdown">
          <a href="#" class="nav-link dropdown-toggle" role="button">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Save</a></li>
            <li><a class="dropdown-item" href="#">Fetch</a></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>
